{erl_opts,[{platform_define,"^(R|1|20|21|22)",'USE_OLD_CRYPTO_HMAC'},
           {platform_define,"^(R|1|20|21)",'USE_OLD_LOGGER'},
           debug_info,
           {i,"include"},
           {d,'RAND_UNIFORM'}]}.
{deps,[{fast_tls,"1.1.13"},{p1_utils,"1.0.23"}]}.
{cover_enabled,true}.
{cover_export_enabled,true}.
{coveralls_coverdata,"_build/test/cover/eunit.coverdata"}.
{coveralls_service_name,"github"}.
{xref_checks,[undefined_function_calls,undefined_functions,
              deprecated_function_calls,deprecated_functions]}.
{format,[{files,["src/*.erl","test/*.erl"]},{formatter,default_formatter}]}.
{plugins,[rebar3_hex]}.
{doc,"doc"}.
{overrides,[]}.
