version: 2.1
orbs:
  codecov: codecov/codecov@3.2.4


jobs:
  test:
    resource_class: large
    docker:
      - image: membraneframeworklabs/docker_membrane:latest
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - checkout
      - run: mix deps.get
      - run: mix coveralls.json
      - codecov/upload

  lint:
    resource_class: large
    docker:
      - image: membraneframeworklabs/docker_membrane:latest
        environment:
          MIX_ENV: dev

    working_directory: ~/app

    steps:
      - checkout
      - run: mix deps.get
      - run: mix format --check-formatted
      - run: mix compile --force --warnings-as-errors
      - run: mix credo
      - run: mix docs && mix docs 2>&1 | (! grep -q "warning:")

  integration_test:
    resource_class: large
    docker:
      - image: membraneframeworklabs/docker_membrane:latest
        environment:
          MIX_ENV: test
          NODE_ENV: development
        user: root

    working_directory: ~/app

    steps:
      - checkout
      # TODO remove this after updating Node in out docker_membrane repository
      - run: npm install npm@8.9.0 -g
      - run: mix deps.get
      - run: cd ./integration_test/test_videoroom && mix deps.get
      - run: cd ./integration_test/test_videoroom && mix compile --force --warnings-as-errors
      - run: cd ./integration_test/test_videoroom && npm ci --prefix=assets
      - run: cd ./integration_test/test_videoroom && mix test


workflows:
  version: 2
  build:
    jobs:
      - test
      - lint
      - integration_test
