<style>
#videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;

}

#videos video {
  height: 100%;
  width: 100%;
  background: black;
}
</style>

<div id="container">
    <div id="videos">
        <video id="local-video" playsinline autoplay muted></video>
    </div>

    <div id="buttons">
        <button id="start-simulcast">Start with simulcast</button>
        <button id="start-all">Start with all media</button>
        <button id="start-mic-only">Start microphone only</button>
        <button id="start-camera-only">Start camera only</button>
        <button id="start-none">Start without media</button>
        <button id="stop">Stop</button>
        <button id="stats">Stats</button>
    </div>
    <div id="simulcast-buttons">
        <button id="simulcast-own-low">Disable low simulcast encoding</button>
        <button id="simulcast-own-medium">Disable medium simulcast encoding</button>
        <button id="simulcast-own-high">Disable high simulcast encoding</button>
        <br>
        <button id="simulcast-other-low">Change other peer encoding to low</button>
        <button id="simulcast-other-medium">Change other peer encoding to medium</button>
        <button id="simulcast-other-high">Change other peer encoding to high</button>
        <br>
        <button id="simulcast-inbound-stats">Inbound simulcast stats</button>
        <button id="simulcast-outbound-stats">Outbound simulcast stats</button>
    </div>
    <div id="metadata-buttons">
        <button id="metadata-update-peer">Update Peer metadata</button>
        <button id="metadata-update-track">Update Track metadata</button>
        <button id="metadata-peer">Peer metadata</button>
        <button id="metadata-track">Track metadata</button>
    </div>
    

    Stats
    <div id="data" data-version="0" style="">uninitialized</div>
</div>
