{erl_opts,[debug_info,{src_dirs,["src"]},{d,'REBAR3'}]}.
{provider_hooks,[{pre,[{compile,{pc,compile}},{clean,{pc,clean}}]}]}.
{plugins,[pc]}.
{deps,[{p1_utils,"1.0.23"}]}.
{port_env,[{"LDFLAGS","$LDFLAGS -lssl -lcrypto -lssl -lcrypto"},
           {"CFLAGS","$CFLAGS -DHAS_ERTS_EXIT -g -O2 -Wall"},
           {"ERL_LDFLAGS"," -L$ERL_EI_LIBDIR -lei"},
           {"darwin","DRV_LDFLAGS",
            "-bundle -bundle_loader \"${BINDIR}/beam.smp\" $ERL_LDFLAGS"}]}.
{port_specs,[{"priv/lib/fast_tls.so",["c_src/fast_tls.c","c_src/ioqueue.c"]},
             {"priv/lib/p1_sha.so",["c_src/p1_sha.c"]}]}.
{clean_files,["c_src/fast_tls.gcda","c_src/fast_tls.gcno",
              "c_src/fast_sha.gcda","c_src/fast_sha.gcno",
              "c_src/ioqueue.gcda","c_src/ioqueue.gcno"]}.
{cover_enabled,true}.
{cover_export_enabled,true}.
{coveralls_coverdata,"_build/test/cover/eunit.coverdata"}.
{coveralls_service_name,"github"}.
{xref_checks,[undefined_function_calls,undefined_functions,
              deprecated_function_calls,deprecated_functions]}.
{profiles,[{test,[{erl_opts,[{src_dirs,["src","test"]}]}]}]}.
{overrides,[]}.
